*{
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-image: url("images/test.jpg");
    background-size: cover;
}

#menuStructure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menuBtn, #creditsBtn, #exitBtn, #exitBtnGameOver {
    padding: 20px;
    font-size: 17px;
    font-family: 'Minecraft';
    color: #423934;
    background-color: #ffd541;
    border: 5px solid #423934;
}

.menuBtn:hover, #creditsBtn:hover, #exitBtn:hover, #exitBtnGameOver:hover  {
    cursor: pointer;
}

#creditsBtn, #exitBtn {
    margin-top: 30px;
}

 #exitBtnGameOver {
    margin-top: 50px;
}

#game {
    display: none;
    width: 585px;
    height: 100vh;
    margin: 0px auto;
}

#output {
    width: 585px;
    padding-block: 10px;
    font-family: 'Minecraft';
    font-size: 20px;
    color: #423934;
    background-color: #ffd541;
    border: 5px solid #423934;
}

#board {
    position: relative;
    width: 585px;
    height: 585px;
    margin: 0px;
    background-color: #ffd541;
    background-size: cover;
    border: 5px solid #423934;
  }

.cell {
    display: block;
    position: absolute;
    width: 45px;
    height: 45px;
}

#overlayCredits, #overlayGameOver {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
}

#developersInfo {
    font-family: 'Minecraft';
    color: #ffd541;
}

.developersTitle {
    margin-bottom: 30px;
    font-size: 300%;
}

.gameOverTitle {
    font-family: 'Minecraft';
    font-size: 700%;
    color: #da2525;
    text-shadow: 3px 5px 0px rgba(255, 255, 255, 0.8);
}